#--------------------------------------------------------------------

#####################################################################
#	Printing macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    CG28
    M117 Leveling Gantry
    QUAD_GANTRY_LEVEL
    M117 Create Bed Mesh
    BED_MESH_CALIBRATE

[gcode_macro PRINT_START]
variable_chamber_temp: 0
description: Prepares for printing, home, heating chamber, nozzle clean, QGL, z_calibration, more nozzle clean
gcode:
# Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}
    {% set chambertemp = params.CHAMBER|default(39)|int %}

    LIGHTS PS=2
    G28                                                                            ; home xyz
    M117 Heating bed
    M106 S255                                                                      ; turn on part cooling fan 100% to help air circulation
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180                               ; Keep hotend target warm to enable nevermore
    M190 S{bedtemp}                                                                ; wait for bed temp
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=chamber_temp VALUE={chambertemp} ; Display target on lcd
    M117 Awaiting chamber
    M104 S140																	   ; set hotend to no-ooze temp
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0	
    SET_CHAMBER_MINIMUM TEMP={chambertemp} 
    M117 Warming hotend
    M109 S{hotendtemp - 70}                                                        ; home with non oozing but warm nozzle
    ATTACH_PROBE_LOCK                                                              ; lock probe till done with it
    LIGHTS PS=3
    G32                                                                        ; home all axes, QGL, Calibrate_
    DOCK_PROBE_UNLOCK                                                              ; unlock probe
    G28 Z
    M117 Warming Hotend
    PARKNOZZLEHEAT                                                                 ;Park nozzle near purge bucket and wait for nozzle temp
    M109 S{hotendtemp-10}
    WAIT S=60                                                                      ; Wait 60 seconds before cleaning
    M117 Initial Nozzle Cleaning
    CLEAN_NOZZLE W=3
    M117 Calibrating Z
    CALIBRATE_Z
    LIGHTS PS=4
    M109 S{hotendtemp}
    M117 CLEAN UP THE GOOP
    CLEAN_NOZZLE P=1 W=5
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1	
    M117 THE GREAT PURGE BEGINS
    PURGE_LINE
    M117 Printing!!!														

[gcode_macro PURGE_LINE]
#   A purge line on the left of the bed to prime the extruder
gcode:
    G1 X13 Y20 Z0.3 F6000        ; move to start position
    G1 X13 Y200 Z0.3 F1500 E10    ; extrude the first line
    G1 X13.5 Y200 Z0.3 F6000       ; move to side a little
    G1 X13.5 Y20 Z0.3 F1500.0 E20   ; extrude the second line
    G1 Z2.0 E18 F3000              ; move nozzle up and retract tiny bit

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F9000    ; move nozzle to remove stringing
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0	
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X125 Y250 F3600            ; park nozzle at rear
    LIGHTS PS=5
    BED_MESH_CLEAR

[gcode_macro PARKNOZZLEHEAT]
description: Park the extruder near the purge bucket. Z at 20mm. Perams: NONE
gcode:
    {action_respond_info("Parking EXTRUDER near the purge bucket. Z at 20mm...")}
    CG28
    SAVE_GCODE_STATE NAME=PARKNOZZLEHEAT
    G90
    G0 X{printer.toolhead.axis_maximum.x/3} Y{printer.toolhead.axis_maximum.y-3} Z20 F7500
    RESTORE_GCODE_STATE NAME=PARKNOZZLEHEAT


[gcode_macro WAIT]
description: Wait a specified number of seconds. PERAMS: S
gcode:
    {% set seconds = params.S|default(0)|int %}
    {% if seconds == 0 %}
        {action_respond_info("No amount of time was specifed! Not Waiting!") }
    {% else %}
        {action_respond_info("Waiting %.0f seconds..." % (seconds)) }
        G4 P{seconds * 1000}
    {% endif %}

[bed_mesh]
speed: 300
horizontal_move_z: 10
##--------------------------------------------------------------------
##	Uncomment below for 250mm build
#mesh_min: 40, 40
#mesh_max: 210,210

##	Uncomment for 300mm build
mesh_min: 40, 40
mesh_max: 260,260

##	Uncomment for 350mm build
#mesh_min: 40, 40
#mesh_max: 310,310
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12




